.catFacts {
   margin: 1rem 0 2rem 0;
}
.catFacts h2 {
   font-size: 2rem;
   font-weight: 500;
   margin: 0rem auto 1rem auto;
   color: #333;
   text-align: center;
}

.catFacts ul {
   list-style: none;
   padding: 0;
}

.catFacts li {
   background-color: rgba(160, 81, 45, 0.603);
   font-weight: 500;
   border: 1px solid #eee;
   border-radius: 0.5rem;
   padding: 0.5rem 1rem;
   margin-bottom: 0.5rem;
}

.catFacts .error {
   color: red;
   font-weight: bold;
}
