.usersList h2 {
   text-align: center;
   margin: 1rem auto;
   font-size: 2rem;
   font-weight: 500;
   text-decoration: underline;
}
.user {
   display: flex;
   justify-content: space-between;
   align-items: center;
   padding: 1rem;
   border-bottom: 1px solid #cbc7c7;
}
.user h3 {
   text-transform: capitalize;
}
.user p {
   font-size: 1rem;
   font-weight: 500;
   color: #444;
}
.users h4 {
   text-align: center;
   margin: 2rem auto;
   font-size: 1.5rem;
   font-weight: 500;
}
.addUser fieldset {
   border: 1px solid #ccc;
   border-radius: 0.5rem;
   padding: 1rem;
   margin: 1rem auto;
}
.addUser legend,
label {
   font-size: 1rem;
   font-weight: 500;
}
.addUser form {
   display: flex;
   flex-direction: column;
   gap: 1rem;
   margin-top: 1rem;
   width: 100%;
   /* padding: 1rem; */
}
.addUser form input {
   flex: 1;
   padding: 1rem 0.5rem;
   border: 1px solid #ccc;
   border-radius: 0.5rem;
}
.addUser form input:focus:valid {
   outline: none;
   border-color: rgba(50, 205, 50, 0.85);
   box-shadow: 0 0 5px rgba(50, 205, 50, 0.5);
}
.addUser form input:focus:invalid {
   outline: none;
   border-color: rgba(255, 0, 0, 0.85);
   box-shadow: 0 0 5px rgba(255, 0, 0, 0.5);
}
.addUser form button {
   padding: 0.5rem 2rem;
   background-color: rgba(50, 205, 50, 0.85);
   color: #333;
   border-radius: 0.5rem;
   border: none;
   cursor: pointer;
   width: max-content;
   align-self: center;
   font-size: 1rem;
   font-weight: 400;
   box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.2);
   transition: all 0.3s ease;
}
.addUser form button:hover {
   background-color: rgba(50, 205, 50, 0.7);
}
.addUser form button:active {
   background-color: rgba(50, 205, 50, 0.85);
   box-shadow: inset 2px 2px 5px rgba(0, 0, 0, 0.2);
}

.error {
   color: red;
   font-weight: bold;
   margin: 1rem auto;
   text-align: center;
   width: 100%;
}
@media screen and (max-width: 768px) {
   .user {
      flex-direction: column;
      align-items: flex-start;
      gap: 0.5rem;
   }
   .user h3 {
      font-size: 1.5rem;
   }
   .user p {
      font-size: 1rem;
   }
   .addUser form {
      width: 100%;
      margin-top: 0;
      gap: 0.5rem;
   }
   .addUser button {
      margin: 1rem auto;
   }
}
